.userCard {
  max-width: 200px;
}

.userCard__img {
  width: 90%;
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 30px;
}

.registerForm {
  margin: 30px;
}

.search {
  float: right;
  margin: 10px;
  display: inline-block;
}

.leftButtonGroup {
  margin: 10px;
  display: inline-block;
  width: 50%;
}

.userForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
